body {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
*{
    list-style-type: none;
}
nav{
    display: flex;
    align-items: center;
    padding: 0 20px;
}
footer{
    display: none;
}

.logo{
    display: none;
    width: 90%;
}

.navbar >  li{
    display: none;
    width: 40%;
}
ul.navbar{
    padding: 0;
}

.navbar>li:nth-child(2){
    color:#ec4252;
}

.fa-bars{
    width:100%;
    padding: 20px 0;
    font-weight: bolder;
    font-size: 36px;
    color:#272a31;
}


/*MAIN code*/

@font-face {
    font-family: 'cocogoose';
    src: url('fonts/cocogoose-light.ttf');
    
}
@font-face {
    font-family: 'cocogoose-2';
    src: url('fonts/cocogoose-pro.ttf');
    
}
@font-face {
    font-family: 'lato';
    src: url('fonts/Lato-Regular.ttf');
    
}
header{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    height: 70vh;
}


.first-text{
    margin-top:20px ;
    font-size: 20px;
    font-family: cocogoose,sans-serif;
    font-weight: lighter;
    color: #ec5242;
    margin-bottom: -10px;
}
.second-text{
    margin-bottom: 10px;
    font-family: cocogoose-2,sans-serif;
    font-weight: 100;
    color: #ec5242;
    margin-bottom: -10px;
    text-transform: uppercase;
}
.paragraph{
    font-family: lato,sans-serif;
    color:#272a31;
    line-height: 25px;
}
/*services code*/

.services{
    margin:0;
    padding: 18px 10px;
    display: flex;
    flex-direction: column;
    background-color:#272a31 ;
}

.services-title{
    font-family: lato,sans-serif;
    text-transform: capitalize;
    color:#fff;
    text-align: center;
    font-weight: normal;
    margin-bottom: 5px;
    
}
hr{
    width:50px;
    background-color:#ec5242;
    height: 1px;
    border: none;
    margin-bottom: 25px;
}

.services-item{
    width:100%;
    display: flex;
    background-color: rgb(92 86 86 / 33%);
    padding: 10px 0;
}
ul.services-wrapper{
    padding: 0;
    display: flex;
    height: 530px;
    flex-direction: column;
    justify-content: space-between;
}
.service-icon{
    width: 25%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #d3d3d3;
}
.service-title{
    width: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    color: #ec5242;
    font-family: Lato,sans-serif;
    font-size: 14px;
    text-transform: capitalize;
}
.service-text{
    width: 40%;
    font-family: Lato, sans-serif;
    font-size: 12px;
    color: #fff;
    display: block;
    margin: auto;
    line-height: 17px;
}
.service-btn{
    border: none;
    padding: 25px 0;
    width: 80%;
    margin: 30px auto;
    background-color: #ec5242;
    font-family: lato,sans-serif;
   
    color: #fff;
    font-size: 19px;
    text-transform: capitalize;
}

/*testimonials - code*/

.testimonials{
    padding: 18px 10px;
}
.testimonials-wrapper{
    padding:0;
    display: flex;
    flex-direction: column;
    height: 570px;
    justify-content: space-between;
}
.testimonials-title{
    text-align: center;
    text-transform: capitalize;
    font-family: lato,sans-serif;
    color: #272a31;
    margin-bottom: 15px;
}
.separator-testimonials{
    margin-bottom: 35px;
}

.testimonial-item{
   
    display: flex;
    height: 125px;
    gap: 10px
   
}
.testimonial-img{
    display: flex;
    flex-direction: column;
}
.under-img{
    width: 50px;
    height: 50px;
    background: url(images/square.jpg);
}
.testimonial-img > img{
    width: 100px;
    height: 100px;
    position: relative;
    margin: -35px 10px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
}

.testimonial-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
p.name{
    font-size: 17px;
    text-transform: capitalize;
    font-family: 'lato',sans-serif;
    font-weight: bold;
    margin-top: 0px;
}
.profession{
    font-family: cocogoose,sans-serif;
    font-size: 11px;
    text-transform: capitalize;
    color: #ec5242;
    margin-top: -30px;
    
}
.definition{
    font-family: 'cocogoose',sans-serif;
    font-size: 11px;
    margin-top:-10px
}

.btn-testimonials{
    width: 100%;
    padding: 10px 0;
    border: 1px solid #bdb2b2;
    text-transform: uppercase;
    font-family: 'lato';
    font-weight: normal;
    color: #272a31;
}
.btn-testimonials > span {
    padding: 0px 1px 5px 2px;;
    display: inline-block;
    position: relative;
    font-size: 20px;
    transform: rotate(90deg);
    color: #ec4252;
    font-weight: bolder; 
}

/*About Page code*/

.about-f-text,.about-s-text,.about-p{
    text-align: center;
}
.about-s-text{
    text-transform: uppercase;
}
.about-logo{
    text-align: center;
    text-transform: capitalize;
    font-family: 'lato',sans-serif;
    font-size: 25px;
    padding: 45px 0;
    margin-top: 33px;
    color: #272a31;
    font-weight: bold;
    border: 1px solid #e3e3e3;
}

.about-p{
    font-size: 13px;
}

.values{
    border-top: 1px solid #e3e3e3;
    margin-top: 30px;
    padding: 0 10px;
}
.values-title{
    text-align: center;
    font-family: 'lato',sans-serif;
    text-transform: capitalize;
    font-size: 20px;
    margin-top: 40px;
}
.values-description{
    font-family: lato,sans-serif;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    color:#272a31;
}
.values-wrapper{
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
    padding: 0;
    margin: 45px auto;
}
.values-items{
    text-align: center;
    font-family: 'lato';
    text-transform: capitalize;
    padding: 20px;
    color: #fff;
}
.value-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0%;
}

.value-1{
    background-image:linear-gradient(to bottom, rgba(236, 66, 82, 0.80), rgba(236, 66, 82, 0.80)),
    url('images/mission.jpeg');
    background-size: cover;
}
.value-2{
    background-image:linear-gradient(to bottom, rgba(236, 66, 82, 0.70), rgba(236, 66, 82, 0.70)),
    url('images/vission.jpg');
    background-size: cover;
}
.value-3{
    background-image:linear-gradient(to bottom, rgba(236, 66, 82, 0.70), rgba(236, 66, 82, 0.70)),
    url('images/values.jpg');
    background-size: cover;
}
/*about footer code*/
.footer-about{
    display: flex;
    background-color: #272a31;
    padding: 30px 10px;
    font-family: lato,sans-serif;
}
ul.footer-wrapper{
    padding:0 20px;
    margin:0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item-1{
 width: 50%;
}

.item-2{
    width:50%;
}

.footer-logo{
    color:#d3d3d3;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.second-part{
    display: none;
}

.footer-text{
    color:#d3d3d3;
    font-size: 10px;
}
.text-2{
    font-size: 12px;
}
/*popup-menu code*/

.popup-menu{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #272a31;
    margin-top: -108px;
    padding: 20px 30px;
}
.popup-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 300px;

}
.popup-item{
    width: 100%;
    padding: 20px 10px;
    
}
.popup-item > a {
    color: #ec4252;
    text-decoration: none;
    font-size: 30px;
    font-family: 'lato',sans-serif;
    text-transform: capitalize;
}

.popup-item >button{
    display: block;
    margin-left: 70%;
    background-color: #272a31;
    color: #ded3d4;
    font-size: 20px;
    border: none;
}
.display{
    display: none;
}

@media (min-width:1100px) {
    nav{
        margin:0;
        padding: 10px 80px;
        display: flex;
        -webkit-box-shadow: 0px 1px 15px -1px rgba(141, 135, 135, 0.75);
-moz-box-shadow: 0px 1px 15px -1px rgba(141, 135, 135, 0.75);
box-shadow: 0px 1px 15px -1px rgba(141, 135, 135, 0.75);
    }
    .navbar{
        display: flex;
        width: 20%;
        justify-content: space-evenly;
        font-family: lato,sans-serif;
        text-transform: capitalize;
    }
    .logo{
        display: block;
        width: 80%;
    }
    
    .navbar > i{
        display: none;
    }
    .navbar >li{
        display: block;
    }

    .navbar > li > a,.logo > a{
        text-decoration: none;
        color:#272a31;
    }
    .navbar > li:nth-child(2) > a{
        color:#ec4252;
    }

    

    header {
      
        padding: 40px 80px 40px 80px;
        
    }

    .first-text{
       
        font-size: 35px;
        
    }
    .second-text {
        
        margin-top: 15px;
        font-size: 60px;
        line-height: 75px;
        width: 75%;
        
    }
    .paragraph{
        width: 66%;
    }

    ul.services-wrapper {
        flex-direction: row;
        width: 90%;
        margin: auto;
        height: 225px;
    }
    hr {
        margin-bottom: 45px;
    }
    .services-item {
        width: 19%;
        height: 195px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px 0;
    
    }
    .service-title {
        width: 60%;
        display: block;
        margin: auto;
    }

    .service-text {
        width: 80%;
        
    }
    .service-btn {
       text-decoration: underline;
       text-transform: uppercase;
       background-color: #272a31;
    }

    .testimonials-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        width: 76%;
        height: 330px;
        margin: auto;
    
    }
    .testimonial-item {
        width: 50%;
       
    }
    .separator-testimonials {
        margin-bottom: 60px;
    }
    .btn-testimonials{
        display: none;
    }

    footer{
        display: block;
        padding: 33px 138px;
        
    }
    ul.footer-wrapper{
        justify-content: space-between;
    }

    .item-1{
        width: 30%;
    }
    .item-2{
        width: 70%;
    }
    .footer-text{
        font-size: 10px;
    }
    .text-2{
        font-size: 16px;
    }
    /*About coding*/

    .about-header{
        align-items: center;
        padding:80px 40px 60px 40px;
    }

    .about-logo{
        width: 45%;
        margin-top: 90px;
    }

    .values{
        padding: 50px 40px 60px 40px;
    }
    .values-description{
        width: 50%;
    text-align: center;
    margin: auto;
    }
    .values-title{
        font-weight: 600;
    }

    .values-wrapper{
        display: flex;
        flex-direction: row;
        height: 170px;
        justify-content: space-evenly;
    
    }
    footer{
        display: flex;
        background-color: #272a31;
        padding: 35px 130px;
        font-family: lato,sans-serif;
    }

    .footer-about {
        display: block;
        padding: 35px 200px;
    }
    .second-part{
        display: block;
    }
}   

